body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #E3E5E9;
}

header {
    background-color: #FBB800;
    text-align: center;
    margin-bottom: 10px;
}

#tec {
    color: darkslategrey;
}

#blog {
    color: white;
}

#principal {
    width: 1000px;
    margin: auto;
    text-align: justify;
    background-color: whitesmoke;
    padding: 10px 30px;
}
h1 {
    margin: 0;
    padding: 20px;  
    font-size: 43px
}


ul {
    margin: 0;
    padding-bottom: 25px;
}
ul li {
    display: inline;

}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px
}

ul li a:hover{
    background-color: white;
    color: #FBB800;
}
.postagem {
    width: 640px;
    margin-right: 40px;
    float: left;
}
.postagem h2 {
    color: orange;
    margin-bottom: 0;
}

.postagem p {
    margin: 0;
}

.postagem a {
    color: orange;
    text-decoration: none;
}

.postagem a:hover {
    text-decoration: underline;
}

.aside {
    width: 300px;
    font-size: 14px;
    float: left;
    margin-top: 50px;
}

.aside h2 {
    font-size: 22px;
    background-color: darkgray;
    color: #38393D;
    margin-bottom: 10px;
    padding: 4px;
    border: 0px;
    border-radius: 5px;
}

.aside p {
    margin: auto;
}

.aside a {
    text-decoration: none;
    color: orange;;
}

.aside a:hover {
    text-decoration: underline;
}

.aside .categorias a {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

footer {
    text-align: center;
    background-color: #909399;
    width: 1060px;
    margin: 5px auto;
    box-sizing: border-box;
    padding: 5px;
    font-weight: 600;
}
